<!DOCTYPE html>

{{ $base := .BaseURL }}

<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="icon" href="{{ $base }}static/favicon.ico" type="image/x-icon">
</head>
<body>
    {{ template "header.html" . }}

    <main>
        {{ if not .IsRoot }}
            {{ if .SubGroups }}
                <h2>하위 그룹</h2>
                <ul>
                    {{ range $i, $g := .SubGroups }}
                        <li><a href="{{ $base }}{{ $g.Url }}/">{{ $g.Name }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}

        {{ if .SubPages }}
            <h2>하위 페이지</h2>
            <ul>
                {{ range $i, $p := .SubPages }}
                    <li><a href="{{ $base }}{{ $p.Url }}.html">{{ $p.Title }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
        
        {{ if .Page }}
            {{ if .Page.Content }}
            <article>
                {{ .Page.Content }}
            </article>
            {{ end }}
        {{ end }}
    </main>

    {{ template "footer.html" . }}

</body>
</html>


